<div clas="container">
	<nav class="navbar navbar-default navbar-top">
		<div class="row toprow">
			<div class="col-sm-4">
				<a href="https://github.com/buddylove954"><%= image_tag "logo.jpg", class: "image" %></a>
			</div>
			<div class="col-sm-4">
				<!-- Trigger the modal with a button -->
					<button type="button" class="btn btn-info btn-lg resumebut" data-toggle="modal" data-target="#myModal">Resume</button>
					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 class="modal-title">Full Stack Developer</h3>
								</div>
								<div class="modal-body">
									<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Home">
	<META NAME="CREATED" CONTENT="20150507;115700000000000">
	<META NAME="CHANGEDBY" CONTENT="Home">
	<META NAME="CHANGED" CONTENT="20150507;115700000000000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin: 1in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" LINK="#0000ff" DIR="LTR">
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=5 STYLE="font-size: 21pt">William
Love</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><BR></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B><BR>Full
Stack Developer on Ruby on Rails</B></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><BR></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">5133
Rothschild Drive  Coral Springs, FL 33067</FONT></FONT></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><A HREF="mailto:wlove29@yahoo.com">wlove29@yahoo.com</A>
   <BR>954-842-8330  <BR></FONT></FONT>
</P>
<P STYLE="text-align: center; margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Enthusiastic
and motivated programmer with an emphasis on growing technology and
Back End Development.<BR><BR></FONT></FONT><BR>
</P>
<P STYLE="text-align: center; margin-bottom: 0in; line-height: 100%; color: #d43f3a"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=3>EDUCATION</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B><BR></B></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Ironhack
Coding Bootcamp – Miami, FL</B></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR>Spring
2015<BR>Ruby, Ruby on Rails, Javascript, HTML TDD, CSS. MySQL GIT,and
JQuery<BR><BR>Developed web applications and API’s while
maintaining well-structured and efficient  code and successfully
delivered a web based application utilizing excellent analytical and
problem solving skills.<BR><BR></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Business
Administration</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Santa
Fe College Gainesville - Gainesville, FL</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">2011
to 2013<BR><BR></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=3><BR><BR><p STYLE="text-align: center; color: #d43f3a">WORK
EXPERIENCE</p></FONT></FONT><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Teaching
Internship</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><A NAME="_GoBack"></A>
<FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Shane
English Private School - Dongying, CN – 6/ 2013 to 9/2014</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR>I
completed a summer internship in rural China as a teacher for
kindergarten English, where I created lesson</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">plans
and developed new teaching concepts. This required the ability to
quickly adapt to a new language and</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">country
which was challenging and rewarding.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B><BR>Customer
Service Associate</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Lowes
- Gainesville, FL - 2011 to 2012</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">I
provided excellence in customer service, offering solutions
particular to their needs. This required good</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">product
knowledge and proficiency in oral communications, as well as the
ability to balance the needs of the</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">customer
with adherence to store policy.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B><BR>Assistant
Store Manager</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Mega
Perfume - Gainesville, FL - 2010 to 2011</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR>As
an Assistant Manager, I was responsible for managing inventory and
bookkeeping which I performed with</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">a
great deal of accuracy. I managed and trained associates, resulting
in our outlet consistently exceeded sales</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">quotas.<BR></FONT></FONT><BR>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>Sales
Associate</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">Al
Hendrickson Toyota - Coconut Creek, FL - 2008 to 2009</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR>Within
the automotive dealership, I successfully built clientele through a
referral network, ranking in the top ten</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 9pt">percent
in sales. I developed strong negotiation skills with the unique
ability to bond with clients.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><FONT FACE="Microsoft Sans Serif, serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B><BR></B></FONT></FONT><BR>
</P>
<P STYLE="margin-bottom: 0in; line-height: 100%"><BR>
</P>
</BODY>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-danger closebut" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="col-sm-4">
				<ul class="list-unstyled list-inline topbar">
					<li><a href="/home">HOME</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="">ABOUT</a></li>
					<li CLASS="contact"><a href="">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row rubybar">
		<div class="backcolor">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<ul class="list-unstyled list-inline social">
					<li><a href="www.linkedin.com/in/willlove"><i class="fa fa-linkedin icon link"></i></a></li>
					<li><a href="https://github.com/buddylove954"><i class="fa fa-github icon git"></i></a></li>
					<li><a href="https://www.facebook.com/wlove29"><i class="fa fa-facebook icon facebook"></i></a></li>
					<li><a href="https://twitter.com/buddylove954/"><i class="fa fa-twitter icon twitter"></i></a></li>
					<li><a href=""><i class="fa fa-envelope icon gmail"></i></a></li>
				</ul>
				<h1 class="ruby">Will Love</h1>
				<h3 class="back">Back-end developer with a strong passion for</h3>
				<h3 class="back">Ruby on Rails</h3>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-3"><%= image_tag "will.jpg", class: "will" %></div>
		<div class="col-sm-6">
			<h2 class="secondhead">A brief summary</h2>
			<p class="paras">I am a recent graduate from the Ironhack bootcamp. My interest in web developement intially gained steam from my passion of gaming. I have an emphasis on TDD, as well as writing clean code. My hobbies consist of gaming(Hearthstone, League of Legends), playing basketball and figuring out new travel destinations.</p>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>