<div clas="container">
	<nav class="navbar navbar-default navbar-top">
		<div class="row toprow">
			<div class="col-sm-3">
				<a href="https://github.com/buddylove954"><%= image_tag "logo.jpg", class: "image" %></a>
			</div>
			<div class="col-sm-9">
				<ul class="list-unstyled list-inline topbar">
					<li><a href="/home">HOME</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="">ABOUT</a></li>
					<li CLASS="contact"><a href="">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="row rubybar2">
		<%= image_tag "Miami.jpg", class: "miapic" %>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<a href="http://decodev.io"><h3 class="project1">Decodev</h3></a>
			<%= image_tag "project1.png", class: "projectpic" %>
			<p></p>
		</div>
		<div class="col-sm-6">
			<h3 class="project2">Current Projects</h3>
		</div>
	</div>
</div>