<div clas="container">
	<nav class="navbar navbar-default navbar-top">
		<div class="row toprow">
			<div class="col-sm-3">
				<a href="https://github.com/buddylove954"><%= image_tag "logo.jpg", class: "image" %></a>
			</div>
			<div class="col-sm-9">
				<ul class="list-unstyled list-inline topbar">
					<li><a href="/home">HOME</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="">ABOUT</a></li>
					<li><a href="">RESUME</a></li>
					<li CLASS="contact"><a href="">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>
		<div class="row rubybar2">
		</div>
</div>