/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.topbar {
	float: right;
	margin-top: 20px;
}

.contact {
	padding: 5px;
	font-size: 15px;
	border: 2px solid black;
	margin-right: 10px;
}

.toprow {
	background-color: white;
	border-color: white;
}

.image {
	margin-left: 25px;
	margin-top: 12px;
	width: 100px;
}

a:link {
	color:black;
}

a:hover {
	color:#B1B4BA;
	text-decoration: none;
}

a {
	color:black;
}

/*body {
	background-color: #B1B4BA;
}*/

.contact:hover {
	background-color: black;
	color: white;
}

li {
	margin-right: 10px;
}

.back {
	text-align: center;

}

.ruby {
	text-align: center;	
}

.image2 {
	width: 40px;
	height: 40px;
	margin-right: 5px;
}

.social {
	margin-left: 30%;
	margin-top: 10%;
}

.rubybar {
	background-image: url('http://dormroomfund.com/img/slider-images/new-york-city.jpg');
	height: 500px;
	margin-top: -25px;
}